{% extends "frame.html" %}

{% block title %} Secret Number {% endblock title %}


{% block page_content %}

   <h1>Welcome to the ecret number game</h1>

    {% if is_guessed %}
        <h3>CONGRATULATIONS! YOU WON</h3>
    {% else %}
        {% if has_guessed %}
            <h3>Sorry, you guessed wrong</h3>
        {% endif %}
        <h2>Guess the secret number</h2>
        <form method="post">
            <input type="number" placeholder="secret number" name="number">
            <button type="submit">Submit</button>
        </form>
    {% endif %}


{% endblock page_content %}
