{% extends "frame.html" %}

{% block title %} Edit Message {% endblock title %}


{% block page_content %}

<h1>Edit Blog Message</h1>

<div class="container-fluid">
    <div class="input_fields">
        <h2>Form control: input</h2>
        <p>The form below contains two input elements; one of type text and one of type password:</p>
        <form method="post" action="/message/{{message.key.id()}}/edit">
            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" name="name" class="form-control" id="usr" value="{{message.name}}">
            </div>
            <div class="form-group">
            <label for="email">E-Mail:</label>
            <input type="text" name="email" class="form-control" id="email" value="{{message.email}}"> </div>
            <div class="form-group">
                <label for="pwd">Message:</label>
                <input type="text" name="message_text" class="form-control" id="pwd" value="{{message.message_text}}">
            </div>
            <button class="btn btn-warning" type="submit">Edit</button>
        </form>
    </div>
</div>

{% endblock page_content %}
